<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tracking The Numbers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let article of articles">
    <ion-card>
      <ion-card-header>
        <div class="published">
          <span class="date" *ngIf="article.created">{{ ik |  date: 'medium' }} </span>
        </div>
        <ion-card-subtitle>{{article.title}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
       <!-- <p><q>{{article.description}}</q></p> -->
        <br>
        <ion-button ion-button fill="outline" expand="block" href="#" large>Continue Reading</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
