<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tracking The Numbers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let article of articles">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ article.countryName }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       <p>Cases: {{article.confirmed}}</p>
       <p>Dead: {{article.deaths}}</p>
       <p>Recovered: {{article.recovered}}</p>
       <p>Mortality Rate: {{ (article.deaths/article.confirmed) * 100 | number: '1.0-2' }}% </p>
       <div class="published">
        <span class="date" *ngIf="article.created">Last Updated: {{ article.created |  date: 'medium' }} </span>
      </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
